@charset "UTF-8";
/*! =====このcssファイルはsassから生成されています。===== */

//--------
$cat_img_size: 150px;	//カタログモードのイメージサイズ

//リセット
* {
	margin: 0px;
	padding: 0px;
}

//iOS対策

label {
	cursor: pointer;
}

// 押すボタンやinput:1, テキストエリア、書くinptutなど:-1
@mixin txt_box(){
	border-style: solid;
	border-width: 1px;
	padding: 2px;
}

//全体的指定
body {
	font-family: sans-serif;
	word-wrap: break-word;
	overflow-wrap: break-word;
}

hr {
	border-style: dashed;
	border-width: 1px;
	margin: 1ex auto;
	clear: left;
}
//----------
header, .thread, footer {
	padding: 8px;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}
header {
	margin-top: 12px;
	margin-bottom: 12px;
	border-width: 1px;
	border-style: solid;
}
h1 {
	a {
		text-decoration: none;
	}
	+ div {
		text-align: right;
	}
}
main {
	display: block;
}
.thread {
	display: block;
	border-width: 1px;
	border-style: solid;
	margin-top: 12px;
	margin-bottom: 12px;
	section figure img {
		max-width: 400px;
		height: auto;
	}
}
.delf {
	text-align: right;
}
footer {
	@extend .thread;
	text-align: right;
}
select {
	@include txt_box;
	vertical-align: middle;
}
input[type="text"] {
	@include txt_box;
}
input[name="picw"], input[name="pich"], input[name="delno"] {
	@include txt_box;
	width: 3em;
}
input[name="pwd"] {
	@include txt_box;
	width: 6em;
}
input[name="search"] {
	@include txt_box;
}
input[type="submit"] {
	@include txt_box;
	padding-left: 4px;
	padding-right: 4px;
}
input[name="upfile"] {
	@include txt_box;
	width: 10em;
}
input[type="color"] {
	@include txt_box;
	height: 1em;
}
//スポンボタン（上下の矢印ボタン）を非表示にする
input[type="number"] {
	-moz-appearance: textfield;
	&::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
	&::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}
em.thispage {
	font-style: normal;
	font-weight: bold;
}
figure {
	float: left;
	padding-right: 8px;
	margin-bottom: 1ex;
	img {
		max-width: 100%;
		height: auto;
	}
}
figcaption {
	font-size: smaller;
}
ul {
	font-size: smaller;
	margin-left: 1.5em;
}
p.oya {
	margin-top: 1em;
}
.sodane a {
	font-weight: normal;
	text-decoration: none;
}

.oyaname {
	line-height: 1em;
    border: solid 1px;
    border-radius: 5px;
	display: inline-block;
    a {
		text-decoration: none;
        display: block;
		padding: 5px;
		color: inherit;
    }
}

h4#oya {
	margin-top: 1ex;
}

.res {
	border-top: dashed 1px;
	margin-top: 1em;
	section {
		margin-top: 1em;
		display: inline-block;
		max-width: 100%;
	}
	h3 {
		font-size: 100%;
		margin-bottom: 0ex;
	}
	h4 {
		font-size: 100%;
		margin-bottom: 1ex;
	}
	figure {
		float: none;
	}
}
.limit {
	margin-top: 1em;
}

h5 {
	font-weight: normal;
}

.resma {
	display: block;
}
.thfoot {
	clear: left;
	text-align: right;
}
button {
	@include txt_box;
	padding-left: 4px;
	padding-right: 4px;
}
.button {
	@include txt_box;
	padding: 2px 6px;
	display: inline-block;
	a {
		text-decoration: none;
		svg {
			width: 12px;
			height: 12px;
		}
	}
}
.oyat {
	border-left: solid 1ex;
	padding: 0.2em;
}
.oekaki {
	font-size: smaller;
}
#appstage {
	display: block;
	text-align: center;
	> * {
		display: inline-block;
		vertical-align: middle;
	}
}

.palette {
	width: 180px;
	fieldset {
		text-align: center;
	}
}
.c {
	text-align: center;
}

.siihelp{
	h2 {
		@extend .oyat
	}
	dt {
		font-weight: bold;
	}
}

#cp {
	scroll-behavior: smooth;
}

#catalog {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	div {
		width: $cat_img_size + 16px;
		text-align: center;
		overflow: hidden;
	}
	p {
		margin: 0.5ex auto;
	}
	img {
		width: $cat_img_size;
	}
}

.delfo {
	font-size: smaller;
	th, td {
		border: 1px solid;
	}
}
.ppost {
	clear: left;
}

//以下レスポンシブ対応
@media screen and (max-width: 1024px) {
	.res {
		clear: left;
	}
}
@media screen and (max-width: 768px) {
	header, .thread, footer {
		width: 90%;
	}
	main {
		display: block;
	}
	#paintmode {
		main {
			display: block;
		}
		footer {
			text-align: right;
		}
	}
}
@media screen and (max-width: 450px) {
	footer {
		text-align: right;
	}
	figure {
		float: none;
	}
	#appstage {
		display: block;
	}
}
