@charset "UTF-8";
/*! =====このcssファイルはsassから生成されています。===== */
* {
  margin: 0px;
  padding: 0px;
}

label {
  cursor: pointer;
}

body {
  background-attachment: unset;
  background: #111111;
  color: #FEFEFE;
  font-family: sans-serif;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

a {
  color: #FEFEFE;
}
a:link {
  color: #FEFEFE;
}
a:visited {
  color: #999;
}
a:active {
  color: #F33;
}
a:hover {
  color: #F33;
}

hr {
  border-style: dashed;
  border-width: 1px 0 0 0;
  border-color: #99F;
  margin: 1ex auto;
  clear: left;
}

header > .titlebox {
  position: fixed;
  width: 300px;
  padding: 10px;
  background-color: #333333;
  border-radius: 16px;
  top: 10px;
  left: 20px;
}
header > .titlebox ul {
  font-size: smaller;
  margin-left: 12px;
}
header > .titlebox + div {
  border-radius: 16px;
  background-color: #333333;
  margin-left: 360px;
  margin-right: 20px;
  padding: 1em;
  text-align: right;
  margin-top: 10px;
}

h1 a {
  text-decoration: none;
}
h1 a:visited {
  color: #999;
}
h1 a:hover {
  color: #F33;
}

main {
  display: block;
}

input, textarea {
  border-style: solid;
  border-radius: 6px;
  border-width: 1px;
  padding: 2px;
  border-color: #003 #66F #66F #003;
  color: #000;
  background-color: #EEEEEE;
}

select {
  border-style: solid;
  border-radius: 6px;
  border-width: 1px;
  padding: 2px;
  border-color: #003 #66F #66F #003;
  color: #000;
  background-color: #EEEEEE;
  vertical-align: middle;
}

input[name=picw], input[name=pich], input[name=delno] {
  width: 3em;
}

input[name=pwd] {
  width: 6em;
}

input[type=submit] {
  border-style: solid;
  border-radius: 6px;
  border-width: 1px;
  padding: 2px;
  border-color: #66F #003 #003 #66F;
  color: #FFF;
  background-color: #69F;
  padding-left: 4px;
  padding-right: 4px;
}

input[name=upfile] {
  border-style: solid;
  border-radius: 6px;
  border-width: 1px;
  padding: 2px;
  border-color: #66F #003 #003 #66F;
  color: #FFF;
  background-color: #69F;
  width: 10em;
}

input[type=color] {
  height: 1em;
}

input[type=number] {
  -moz-appearance: textfield;
}
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

em.thispage {
  font-style: normal;
  font-weight: bold;
}

.thread {
  border-radius: 16px;
  background-color: #333333;
  margin-left: 360px;
  margin-right: 20px;
  padding: 1em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
.thread .thfoot {
  text-align: right;
}

.search_box {
  font-size: smaller;
}

.delf {
  font-size: smaller;
}

p.sysmsg {
  display: inline;
}

figure {
  float: left;
  padding-right: 8px;
  background-color: #333333;
  margin-bottom: 1ex;
}
figure img {
  max-width: 100%;
}

figcaption {
  font-size: smaller;
}

p.oya {
  margin-top: 1em;
}

.sodane a {
  font-weight: normal;
  text-decoration: none;
}

.oyaname {
  line-height: 1em;
  border: solid 1px #69F;
  border-radius: 5px;
  display: inline-block;
}
.oyaname a {
  text-decoration: none;
  display: block;
  padding: 5px;
  color: inherit;
}

.oyaname:hover {
  background-color: #111111;
}

h4#oya {
  margin-top: 1ex;
}

.res {
  border-top: dashed 1px #99F;
  margin-top: 1em;
}
.res section {
  margin-top: 1em;
  display: inline-block;
  max-width: 100%;
}
.res h3 {
  font-size: 100%;
  margin-bottom: 0ex;
}
.res h4 {
  font-size: 100%;
  margin-bottom: 1ex;
}
.res figure {
  float: none;
}

.limit {
  margin-top: 1em;
  background-color: #112244;
}

h5 {
  font-weight: normal;
}

.resma {
  display: block;
  color: #44DD44;
  background-color: #111111;
}

button {
  border-style: solid;
  border-radius: 6px;
  border-width: 1px;
  padding: 2px;
  border-color: #66F #003 #003 #66F;
  color: #FFF;
  background-color: #69F;
  padding-left: 4px;
  padding-right: 4px;
  background-color: #69F;
  color: #FFF;
}

.button {
  border-style: solid;
  border-radius: 6px;
  border-width: 1px;
  padding: 2px;
  border-color: #66F #003 #003 #66F;
  color: #FFF;
  background-color: #69F;
  padding: 2px 6px;
  display: inline-block;
}
.button a {
  text-decoration: none;
  color: #FFF;
}
.button a svg {
  fill: #FFF;
  width: 12px;
  height: 12px;
}

.oyat, .siihelp h2 {
  border-left: solid 1ex #99F;
  background: #036;
  padding: 0.2em;
  color: #EEC;
}

footer {
  border-radius: 16px;
  background-color: #333333;
  margin-left: 360px;
  margin-right: 20px;
  padding: 1em;
  text-align: right;
  margin-bottom: 20px;
  margin-top: 20px;
}

.oekaki {
  font-size: smaller;
}

#appstage {
  border-radius: 16px;
  background-color: #333333;
  margin-left: 360px;
  margin-right: 20px;
  padding: 1em;
  margin-top: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#appstage .palette .palette_set {
  border-style: solid;
  border-radius: 6px;
  border-width: 1px;
  padding: 2px;
  border-color: #003 #66F #66F #003;
  color: #000;
  background-color: #EEEEEE;
}

.NEO .color_bk {
  color: #999;
}
.NEO .color_bk2 {
  color: #567;
}
.NEO .color_tool_icon {
  color: #444;
}
.NEO .color_icon {
  color: #333;
}
.NEO .color_iconselect {
  color: #333;
}
.NEO .color_text {
  color: #FFF;
}
.NEO .color_bar {
  color: #666;
}
.NEO .tool_color_button {
  color: #778;
}
.NEO .tool_color_button2 {
  color: #445;
}
.NEO .tool_color_text {
  color: #FFF;
}
.NEO .tool_color_bar {
  color: #89A;
}
.NEO .tool_color_frame {
  color: #666;
}

.palette {
  width: 180px;
}
.palette fieldset {
  text-align: center;
}

.c {
  text-align: center;
}

.siihelp dt {
  font-weight: bold;
}
.siihelp ul {
  margin-left: 20px;
}

#cp {
  margin-top: 160px;
  scroll-behavior: smooth;
  margin-bottom: 1.5em;
}

#catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
#catalog div {
  width: 166px;
  text-align: center;
  overflow: hidden;
}
#catalog p {
  margin: 0.5ex auto;
}
#catalog img {
  width: 150px;
}

.delfo {
  font-size: smaller;
}
.delfo th, .delfo td {
  border: 1px solid #111111;
}

.ppost {
  clear: left;
}

@media screen and (max-width: 1024px) {
  .res {
    clear: left;
  }
}
@media screen and (max-width: 450px) {
  header {
    width: auto;
    position: relative;
  }
  header .titlebox {
    width: auto;
    margin: 20px;
    position: relative;
    top: unset;
    left: unset;
  }
  header .titlebox + div {
    width: auto;
    position: relative;
    margin: 20px;
  }

  .thread {
    display: block;
    margin: 20px;
  }

  #paintmode header {
    width: auto;
    position: relative;
    margin: 20px;
  }

  #appstage {
    display: block;
  }

  #cp {
    margin-top: 1.5em;
    scroll-behavior: smooth;
    margin-bottom: 1.5em;
  }

  footer {
    width: auto;
    position: relative;
    text-align: right;
    margin: 20px;
  }
}
/*# sourceMappingURL=neex.css.map */