@charset "UTF-8";
/*! =====このcssファイルはsassから生成されています。===== */

//--------
$cat_img_size: 150px;	//カタログモードのイメージサイズ

//リセット
* {
	margin: 0px;
	padding: 0px;
}

//iOS対策

label {
	cursor: pointer;
}

// 押すボタンやinput:1, テキストエリア、書くinptutなど:-1
@mixin txt_box{
	border-style: solid;
	border-radius: 6px;
	border-width: 1px;
	padding: 2px;
}

//スレッドとかフッダーとかボックス
@mixin mainbox{
	border-radius: 16px;
	margin-left: 360px;
	margin-right: 20px;
	padding: 1em;
}

//全体的指定
body {
	font-family: sans-serif;
	word-wrap: break-word;
	overflow-wrap: break-word;
}

hr {
	border-style: dashed;
	border-width: 1px 0 0 0;
	margin: 1ex auto;
	clear: left;
}

//----------

header > .titlebox {
	position: fixed;
	width: 300px;
	padding: 10px;
	border-radius: 16px;
	top: 10px;
	left: 20px;
	ul {
		font-size: smaller;
		margin-left: 12px;
	}
	+ div {
		@include mainbox();
		text-align: right;
		margin-top: 10px;
	}
}

h1 {
	a {
		text-decoration: none;
	}
}
main {
	display: block;
}

input, textarea {
	@include txt_box;
}
select {
	@include txt_box;
	vertical-align: middle;
}
input[name="picw"], input[name="pich"], input[name="delno"] {
	width: 3em;
}
input[name="pwd"] {
	width: 6em;
}
input[type="submit"] {
	@include txt_box;
	padding-left: 4px;
	padding-right: 4px;
}
input[name="upfile"] {
	@include txt_box;
	width: 10em;
}
input[type="color"] {
	height: 1em;
}
//スポンボタン（上下の矢印ボタン）を非表示にする
input[type="number"] {
	-moz-appearance: textfield;
	&::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
	&::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}
em.thispage {
	font-style: normal;
	font-weight: bold;
}
//----------

.thread {
	@include mainbox();
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	.thfoot {
		text-align: right;
	}
}
.search_box {
	font-size: smaller;
}
.delf {
	font-size: smaller;
}

p.sysmsg {
	display: inline;
}

figure {
	float: left;
	padding-right: 8px;
	margin-bottom: 1ex;
	img {
		max-width: 400px;
		height: auto;
	}
}
figcaption {
	font-size: smaller;
}
p.oya {
	margin-top: 1em;
}
.sodane a {
	font-weight: normal;
	text-decoration: none;
}

.oyaname {
	line-height: 1em;
    border: solid 1px;
    border-radius: 5px;
	display: inline-block;
    a {
		text-decoration: none;
        display: block;
		padding: 5px;
		color: inherit;
    }
}
h4#oya {
	margin-top: 1ex;
}

.res {
	border-top: dashed 1px;
	margin-top: 1em;
	section {
		margin-top: 1em;
		display: inline-block;
		max-width: 100%;
	}
	h3 {
		font-size: 100%;
		margin-bottom: 0ex;
	}
	h4 {
		font-size: 100%;
		margin-bottom: 1ex;
	}
	figure {
		float: none;
	}
}
.limit {
	margin-top: 1em;
}

h5 {
	font-weight: normal;
}

.resma {
	display: block;
}
button {
	@include txt_box();
	padding-left: 4px;
	padding-right: 4px;
}
.button {
	@include txt_box();
	padding: 2px 6px;
	display: inline-block;
	a {
		text-decoration: none;
		svg {
			width: 12px;
			height: 12px;
		}
	}
}
.oyat {
	border-left: solid 1ex;
	padding: 0.2em;
}
footer {
	@include mainbox();
	text-align: right;
	margin-bottom: 20px;
	margin-top: 20px;
}

//----------
.oekaki {
	font-size: smaller;
}
#appstage {
	@include mainbox();
	margin-top: 1.5em;
	display: flex;
	justify-content: center;
	align-items: center;
	.palette .palette_set {
		@include txt_box();
	}
}
.palette {
	width: 180px;
	fieldset {
		text-align: center;
	}
}
.c {
	text-align: center;
}

.siihelp{
	h2 {
		@extend .oyat
	}
	dt {
		font-weight: bold;
	}
	ul {
		margin-left: 20px;
	}
}

#cp {
	margin-top: 160px;
	scroll-behavior: smooth;
	margin-bottom: 1.5em;
}
//----------

#catalog {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	div {
		width: $cat_img_size + 16px;
		text-align: center;
		overflow: hidden;
	}
	p {
		margin: 0.5ex auto;
	}
}

.delfo {
	font-size: smaller;
	th, td {
		border: 1px solid;
	}
}
.ppost {
	clear: left;
}

//----------
//以下レスポンシブ対応
@media screen and (max-width: 1024px) {
	.res {
		clear: left;
	}
}
@media screen and (max-width: 450px) {
	header {
		width: auto;
		position: relative;
		.titlebox {
			width: auto;
			margin: 20px;
			position: relative;
			top: unset;
			left: unset;
			+ div {
				width: auto;
				position: relative;
				margin: 20px;
			}
		}
	}
	.thread {
		display: block;
		margin: 20px;
	}
	#paintmode {
		header {
			width: auto;
			position: relative;
			margin: 20px;
		}
	}
	#appstage {
		display: block;
	}
	#cp {
		margin-top: 1.5em;
		scroll-behavior: smooth;
		margin-bottom: 1.5em;
	}
	footer {
		width: auto;
		position: relative;
		text-align: right;
		margin: 20px;
	}
}
