@charset "UTF-8";

//スタイル設定ファイル

//devフラグ
$dev: -1;

//色指定とか
$ushiro: #CC9999;		//一番後ろ
$haikei: #FEDEDE;		//スレ背景
$moji: #000000;			//文字
$link: #000000;			//リンクの文字
$link_visited: #666666;	//訪問済みリンク
$link_active: #FF3322;	//アクティブなリンク
$link_hover: #FF3322;	//マウスカーソルが上に載ってる時のリンク
$resmoji: #114411;			//レスの文字
$border: #FF3333;          //ボーダーとスレタイトルの左
$b_border: #99CC66;        //ボタンのボーダー
$b_border_u: #336600;       //ボタンのボーダーその2
$button: #669933;			//返信とかのボタン
$button_moji: #FFF;		//ボタンの文字色
$form_txt: #000;		//テキスト入力欄の文字色
$form_txt_bk: #EEDDDD;	//テキスト入力欄の背景色
$th_bg: #ffaaaa;        //スレタイトルの背景と削除画面のテーブルの奇数行
$th_title: #130;		//スレタイトルの文字色

$limit: #99BBAA;           //もうすぐ消える&省略の背景色

//NEO色指定
$bk: #999;				//アプレット背景
$bk2: #766;				//アプレット背景の網状のあれ
$tool_icon: #444;		//「窓」とか
$icon: #333;			//
$iconselect: #333;		//選択してるアイコン
$text: #FEE;			//文字
$bar: #765;				//バー
$tool_button: #877;		//ツールボタン「鉛筆」とか
$tool_button2: #544;	//選択中ツールボタン
$tool_text: #FFF;		//ツールボタンの文字
$tool_bar: #A98;		//ツールバーの色
$tool_frame: #765;		//フレームの色
//--------

